@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }

  .navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    background: #fca311;
    color: #fff;
  }

  .navbar a {
    text-decoration: none;
    color: white;
  }

  .nav-bag {
    display: flex;
    align-items: center;
  }

  .bag-quantity {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #003566;
    font-size: 14px;
    font-weight: 700;
  }

  .not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    color: rgb(68, 68, 68);
  }

  .not-found h2 {
    font-size: 55px;
  }

  .not-found p {
    font-size: 20px;
  }

  .home-container {
    padding: 2rem 4rem;
  }

  .home-container h2 {
    font-weight: 400;
    text-align: center;
    font-size: 40px;
  }

  .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .product {
    width: 270px;
    max-width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
  }

  .product img {
    width: 80%;
    /* margin-top: 1rem; */
    margin-left: auto;
    margin-right: auto;
  }

  .product h3 {
    font-weight: 400;
    font-size: 25px;
  }

  .product .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product .details .price {
    font-weight: 700;
    font-size: 20px;
  }

  .product button {
    width: 100%;
    height: 40px;
    background: #fca311;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1.15px;
    margin-top: 2rem;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
  }